{% extends './base.html' %}{{super()}}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{appliance_title}}</h1>
    
        <form id="upload-form" action="/appliance/{{appliance_name}}/{{model_name}}" method="post" enctype="multipart/form-data" class="d-flex align-items-center">
            <!-- Upload-Button -->
            <a href="#" class="btn btn-primary shadow-sm mr-3" onclick="document.getElementById('file').click(); return false">
                <i class="fas fa-upload fa-sm text-white-50"></i>Upload data
            </a>
            <input type="file" name="file" id="file" style="display: none;" onchange="document.getElementById('upload-form').submit();">
            <input type="submit" value="Upload" style="display: none;">
        </form>
    </div>   
    <!-- Dropdown-Menü -->
    <div class="dropdown mr-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/appliance/{{appliance_name}}/seq2seq">seq2seq</a>
            <a class="dropdown-item" href="/appliance/{{appliance_name}}/seq2point">seq2point</a>
            <a class="dropdown-item" href="/appliance/{{appliance_name}}/dae">dae</a>
        </div>
        <button id="predict-button" class="btn btn-primary">Predict</button>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var dropdownItems = document.querySelectorAll('#dropdownMenuButton + .dropdown-menu .dropdown-item');
                for (var i = 0; i < dropdownItems.length; i++) {
                    dropdownItems[i].addEventListener('click', function(event) {
                        event.preventDefault();
                        document.getElementById('dropdownMenuButton').innerText = this.innerText;
                        window.location = this.href;
                    });
                }
        
                var currentPath = window.location.pathname;
                var pathParts = currentPath.split('/');
                var model_name = pathParts[pathParts.length - 1]; // letzter Teil des Pfades
                document.getElementById('dropdownMenuButton').innerText = model_name;
        
                // Funktion hinzufügen, die beim Klicken auf den "Predict"-Button ausgeführt wird
                document.getElementById('predict-button').addEventListener('click', function() {
                var applianceName = "{{appliance_name}}"; // Ersetzen Sie dies durch den tatsächlichen Wert
                var url = "/appliance/" + applianceName + "/" + model_name + "/predict";

                // AJAX Request an die /predict Route
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Die Antwort vom Server entpacken
                        var response = JSON.parse(xhr.responseText);

                        // Zur vorherigen Seite zurückkehren
                        window.location.href = response.redirect_path;
                    }
                };

                xhr.send(JSON.stringify({ /* hier eventuelle Daten senden */ }));
            });
        });
        </script>
    
</div>
    
    
    

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Average Consumption (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{avg_conumption}} KWh</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Bills (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">€ {{bills_anno}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">History of Power consumption </h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="Consumption_History"></canvas>
                        <script type="text/javascript">
                            var labels = {{ hist_lables|tojson|safe }};
                            var data = {{ hist_data|tojson|safe }};
                        </script>
                        <script src="{{ url_for('static', filename='js/chart-area.js') }}"></script>

                    </div>
                </div>
            </div>
        </div>





</div>

{% endblock %}


  <!-- <p style="margin-left: 10px;margin-right: 10px;">

                1. Allow to upload a csv file of the aggregate power <br/>
                2. Transfer it to the  backen to be preprocessed then disaggregated <br/>
                3. Plot the output of the model in JS plot <br/>

            </p> -->